.app-layout {
  height: 100vh;
  display: flex;
  position: relative;
  padding-top: 20px; // espacio para la línea superior
  padding-bottom: 50px; // espacio para la línea inferior
  box-shadow: inset 100% 0 15px -10px rgba(0, 0, 0, 0.1), inset 0 100% 15px -10px rgba(0, 0, 0, 0.1);
}
.app-layout-container {
  display: flex;
  flex-direction: column;
}

.app-layout-container header {
  padding: 10px;
}
.header-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.line-layout-bottom {
  padding: 2px;
  width: 100%;
  position: fixed;
  bottom: 10;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  z-index: 2;
}

.items-layout.bottom {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: -9px; // justo encima de la línea inferior
  width: 100%;
  z-index: 1;
}

.line-layout-top {
  margin-top: 10px;
  padding: 2px;
  width: 100%;
  position: fixed;
  top: 15;
  background-color: var(--secondary-color);
  z-index: 2;
}

.items-layout.top {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: -17px; // justo debajo de la línea superior
  width: 100%;
  z-index: 1;
}

.items-layout {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

.block {
  width: 10px;
  background-color: var(--secondary-color);
  height: 5px;
}
.block-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reverse {
  transform: rotate(180deg);
}
.points {
  width: 5px;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.help-menu-line-vertical {
  margin-left: 8px;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

.help-menu {
  margin-left: 1%;
  display: flex;
  align-items: center;
  height: 10%;
  width: 98%;
  bottom: 7%;
  background-color: var(--third-color);
  border-bottom: 2px solid var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
  border-left: 15px solid var(--secondary-color);
}

.help-menu-text {
  padding: 10px;
  height: 100%;
  font-size: 30px;
  color: var(--secondary-color, 10%);
  display: flex;
  align-items: center;
}
.header-line-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}
.header-line {
  width: 100%;
  height: 20px;
  position: relative;
}
.header-line-unique {
  width: 100%;
  height: 2px;
  background-color: black;
  top: 8px;
  z-index: 2;
}
.header-line-segment {
  width: 12px;
  height: 8px;
  background-color: black;
  z-index: 3;
  position: relative;
  top: -1px;
}
