<div class="app-layout">
  <div class="app-layout-container">
    <header>
      <div class="header-buttons">
        <div>
          <app-button text="Contacts" size="large"></app-button>
        </div>
        <div>
          <app-button text="Create" size="large"></app-button>
        </div>
        <div>
          <app-button text="Update" size="large"></app-button>
        </div>
        <div>
          <app-button text="Delete" size="large"></app-button>
        </div>
      </div>
    </header>
    <div class="header-line">
      <div class="header-line-unique"></div>
      <div class="header-line-items">
        @for (item of items; track $index) {
        <div class="header-line-segment"></div>
        }
      </div>
    </div>
    <router-outlet></router-outlet>

    <div class="help-menu">
      <div class="help-menu-line-vertical"></div>
      <div class="help-menu-text">hola necesitas ayuda</div>
    </div>
  </div>
</div>
