<div class="app-layout">
  <div class="app-layout-container">
    <header>
      <div class="header-buttons">
        <div>
          <app-button
            text="Contacts"
            size="large"
            [isRouterLink]="true"
            [routerLink]="'/contacts'"
            [exact]="false"
            (buttonClicked)="onButtonClick($event)"
          ></app-button>
        </div>
        <div>
          <app-button
            text="Create"
            size="large"
            [isRouterLink]="true"
            [routerLink]="'/create'"
            [exact]="true"
            (buttonClicked)="onButtonClick($event)"
          ></app-button>
        </div>
        <div>
          <app-button
            text="Groups"
            size="large"
            [isRouterLink]="true"
            [routerLink]="'/groups'"
            [exact]="true"
            (buttonClicked)="onButtonClick($event)"
          ></app-button>
        </div>
        <div>
          <app-button
            text="System"
            size="large"
            [isRouterLink]="true"
            [routerLink]="'/system'"
            [exact]="true"
            (buttonClicked)="onButtonClick($event)"
          ></app-button>
        </div>
      </div>
      <div class="header-line">
        <div class="header-line-unique"></div>
        <div class="header-line-items">
          @for (item of items; track $index) {
          <div class="header-line-segment"></div>
          }
        </div>
      </div>
    </header>

    <router-outlet></router-outlet>

    <div class="help-menu">
      <div class="help-menu-line-vertical"></div>
      <div class="help-menu-text">{{ helpMenuService.messages }}</div>
    </div>
  </div>
</div>
