.contacts-container {
  height: 86vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: start;
  align-items: start;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.contacts-header{
  text-align: start;
  font-size: 30px;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.contacts-list{
  height: 75%;
  width: 60%;
  border-bottom: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  background-color: var(--third-color);
}

.contact-line{
  margin-right: 5px;
  height: 98%;
  border-right: 2px solid var(--fourth-color);
}
